:root {
    --revealedBGColor: hsla(0, 0%, 0%, 0.64);
    --wonBGColor: hsla(160, 35%, 11%, 0.64);
    --lostBGColor: hsla(0, 63%, 10%, 0.64);
    --textColor: hsla(0, 0%, 100%, 1);
    --defaultBGColor: hsla(0, 0%, 50%, 0.7);
    --cellSize: 12px;
    --gapBetweenCells: 1px;
}

html {
    background: radial-gradient(
        circle at 50% 50%,
        hsla(0, 0%, 100%, 0.87) 0%,
        hsla(0, 0%, 100%, 0.87) 60%,
        hsla(0, 0%, 0%, 0.87) 60%,
        hsla(0, 0%, 0%, 0.87) 75%,
        hsla(0, 0%, 100%, 0.87) 75%
    );
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    display: grid;
    place-items: center;
    min-width: fit-content;
    min-height: 100vh;
    min-height: 100dvh;
    backdrop-filter: blur(3px) sepia(90%);
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: calc(var(--gapBetweenCells) + var(--cellSize));
}

.word {
    display: flex;
    gap: calc(var(--gapBetweenCells) + var(--cellSize));
    justify-content: center;
    align-items: center;
}

.letter-map {
    display: grid;
    gap: var(--gapBetweenCells);
}

.letter-map.won .cell {
    background-color: var(--wonBGColor);
    transition: background-color 1s;
    color: transparent;
}

.letter-map.lost .cell {
    background-color: var(--lostBGColor);
    transition: background-color 1s;
    color: transparent;
}

.cell {
    transition: background-color 0.5s ease, color 0.2s ease;
    user-select: none;
    width: var(--cellSize);
    height: var(--cellSize);
    font-size: 10px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--defaultBGColor);
    color: var(--textColor);
}

.cell.mine:not(.revealed):after {
    content: '*';
}

.cell::before {
    content: '';
    position: absolute;
    inset: -calc(var(--gapBetweenCells) / 2);
}

.cell.revealed {
    background-color: var(--revealedBGColor);
}

.cell.hidden {
    visibility: hidden;
}

@media only screen and (max-width: 1550px) {
    h1 {
        margin: 0;
        text-align: center;
        padding: 11vw 0;
        padding: 11dvw 0;
        font-size: 10vw;
        font-size: 10dvw;
        text-shadow: 6vw 10vw 2vw hsla(0, 0%, 0%, 0.7);
        text-shadow: 6dvw 10dvw 2dvw hsla(0, 0%, 0%, 0.7);
    }

    body {
        max-height: 100vh;
        max-height: 100dvh;
        --cellSize: 20px;
    }

    #root {
        scroll-snap-type: y mandatory;
        max-height: 100vh;
        max-height: 100dvh;
        overflow-y: auto;
        width: 100%;
    }

    .word {
        flex-direction: column;
    }

    .letter-map {
        transform: translateY(1dvh);
        place-content: center;
        height: 100vh;
        height: 100dvh;
        min-height: 684px;
        scroll-snap-align: start;
    }
}